@import "~react-md/src/scss/react-md";

$otosense-cyan: #1d9ab3;
$otosense-gray: #3c4547;
$default-secondary: $md-yellow-a-700;
$md-primary-color: $otosense-cyan;
$md-secondary-color: $default-secondary;
$md-data-table-contextual-fallback-color: $otosense-cyan;
$md-avatar-default-background: $default-secondary;
$md-avatar-border-color: $default-secondary;
$md-avatar-default-color: $otosense-gray;
$toolbar-margin: 35px;
$search-bar-margin: 65px;

// Include all components
@include react-md-everything;

.inline {
    display: flex;
    flex-flow: row nowrap;
    align-items: normal;
    &.centered {
        justify-content: center;
    }
}
